@import url('https://fonts.googleapis.com/css?family=Poppins');
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      font-family: 'Poppins', sans-serif;
    }

    body {
      line-height: 1.6;
      background: #f5f5f5;
      color: #333;
    }
/* Home */
    header {
      background: #1a1a2e;
      color: #fff;
      padding: 1rem 2rem;
      position: sticky;
      top: 0;
      z-index: 1000;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .logo img{
       height: 90px; /* Adjust as needed */
       width: auto;
       display: block;
      }

      .logo img:hover{
        transform: scale(1.05);
        box-shadow: 0 10px 20px rgb(38, 149, 145);
      }

    nav a {
      color: #fff;
      margin-left: 1rem;
      text-decoration: none;
      transition: color 0.3s;
    }

    nav a:hover {
      color: #00bcd4;
    }

    .hero {
      background: linear-gradient( rgba(22, 33, 62, 0.7)),
      url('https://i.pinimg.com/736x/f8/29/fc/f829fcf1b453ba0905af3131281043c4.jpg');
      background-size: cover;
      background-position: center;
      color: #fff;
      padding: 5rem 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
}

    .hero h1 {
      font-size: 3rem;
      margin-bottom: 1rem;
    }

    .hero p {
      font-size: 1.2rem;
      margin-bottom: 2rem;
    }

    .hero-buttons {
      display: flex;
      gap: 1rem;
    }

    .hero-buttons .btn-primary,
    .hero-buttons .btn-secondary {
      background: #00bcd4;
      border: none;
      padding: 0.8rem 2rem;
      color: #fff;
      font-size: 1rem;
      border-radius: 5px;
      cursor: pointer;
      transition: 0.3s;
    }

    .hero-buttons .btn-primary:hover {
      background: #222;
    }

    .hero-buttons .btn-secondary {
      background: #222;
    }

    .hero-buttons .btn-secondary:hover {
      background: #00bcd4;
    }
/* Features */
    .features, .pricing, .reviews, .newsletter {
      padding: 4rem 2rem;
      background: #fff;
      text-align: center;
    }

    .features h2, .pricing h2, .reviews h2, .newsletter h2 {
      font-size: 2rem;
      margin-bottom: 2rem;
    }

    .features .cards {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
      gap: 1.5rem;
    }

    .feature-card {
      background: #f0f0f0;
      padding: 2rem;
      border-radius: 8px;
    }

    .feature-cards{
      background: #f0f0f0;
      padding: 2rem;
      border-radius: 8px;
      background-color: #00bcd4;
    }
/* Gallery */
    .gallery {
      display: flex;
      gap: 5rem;
      padding: 2rem;
      justify-content: center;
      flex-wrap: wrap;
      background: #f5f5f5;
    }

    .gallery img {
      width: 250px;
      border-radius: 4rem;
      transition: transform 0.3s, box-shadow 0.3s;
    }

    .gallery img:hover {
      transform: scale(1.05);
      box-shadow: 0 10px 20px rgba(0,0,0,0.2);
    }
/* Pricing */
    .pricing .cards {
      display: flex;
      flex-wrap: wrap;
      gap: 1.5rem;
      justify-content: center;
    }

    .price-card {
      background: #f0f0f0;
      padding: 2rem;
      border-radius: 8px;
      width: 250px;
      transition: transform 0.3s;
    }

    .price-card:hover {
      transform: scale(1.03);
    }

    .price-card h3 {
      margin-bottom: 0.5rem;
    }

    .price-card button {
      margin-top: 1rem;
      background: #00bcd4;
      border: none;
      padding: 0.6rem 1.5rem;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
    }
/* Reviews */
    .reviews .cards {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 1.5rem;
    }

    .review-card {
      background: #f0f0f0;
      padding: 1.5rem;
      border-radius: 8px;
      max-width: 300px;
      text-align: left;
    }

    .review-card img {
      width: 70px;
      height: 70px;
      border-radius: 40%;
    }
/* Contact us */
    .newsletter{
      background: #f5f5f5;
    }

    .newsletter form {
      display: flex;
      flex-direction: column;
      max-width: 500px;
      margin: auto;
      gap: 1rem;
    }

    .newsletter input, .newsletter textarea {
      padding: 1rem;
      border-radius: 5px;
      border: 1px solid #ccc;
      margin-top: 1rem;
      font-size: 1rem;
    }

    .newsletter button {
      background: #00bcd4;
      border: none;
      padding: 0.8rem;
      color: #fff;
      border-radius: 5px;
      cursor: pointer;
    }

    .newsletter button:hover{
      background-color: #222;
    }
/* Footer */
    footer {
      background: #1a1a2e;
      color: #fff;
      text-align: center;
      padding: 1.8rem;
    }

    footer a {
      color: white;
      font-size: 1.5rem;
      margin: 0 0.5rem;
    }

    footer a :hover{
      color: #00bcd4;
    }

    @media (max-width: 768px) {
      .pricing .cards, .reviews .cards {
        flex-direction: column;
        align-items: center;
      }
    }